.layout-dark-menu {
    --menu-bg: var(--p-surface-900);
    --root-menuitem-text-color: var(--p-surface-0);
    --menuitem-icon-color: rgba(233, 233, 233, 0.8);
    --menuitem-text-color: rgba(233, 233, 233, 0.8);
    --submenu-item-hover-bg-color: var(--p-surface-800);

    --popup-submenu-item-hover-bg-color: var(--p-surface-800);
    --menu-shadow: 0 5px 12px 6px #00000017;
}
