.layout-light-menu {
    --menu-bg: var(--p-surface-0);
    --root-menuitem-text-color: var(--p-surface-900);

    --menuitem-icon-color: rgba(41, 50, 65, 0.8);
    --menuitem-text-color: rgba(41, 50, 65, 0.8);
    --submenu-item-hover-bg-color: var(--surface-hover);

    --popup-submenu-item-hover-bg-color: var(--surface-hover);
    --menu-shadow: 0px 10px 40px rgba(41, 50, 65, 0.06);
}
