<p-toast></p-toast>
        <p-dialog
            [header]="dialogConfig.header || ''"
            [(visible)]="dialogConfig.visible"
            [modal]="true"
            [dismissableMask]="true"
            styleClass="mx-4 sm:mx-0 sm:w-full md:w-8/12 lg:w-6/12"
            contentStyleClass="rounded-b border-t border-surface-200 dark:border-surface-700 p-0"
        >
            <div class="p-6">
                <p-fluid class="grid grid-cols-12 gap-4">

                    <div class="col-span-12">
                        <label for="description" class="text-surface-900 dark:text-surface-0 font-semibold block mb-2">Description</label>
                        <input id="description" type="text" placeholder="Description" pInputText [(ngModel)]="task.description" />
                    </div>
                    <div class="col-span-6">
                        <label for="end" class="text-surface-900 dark:text-surface-0 font-semibold block mb-2">Due Date</label>
                        <p-datepicker appendTo="body" dateFormat="yy-mm-dd" [showTime]="false" inputId="end" placeholder="Due Date" [(ngModel)]="task.dueDate"></p-datepicker>
                    </div>
                    <div class="col-span-12 flex justify-end mt-6">
                        <button pButton pRipple class="w-32 mr-4" outlined icon="pi pi-times" label="Cancel" (click)="cancelTask()"></button>
                        <button pButton pRipple class="w-32" icon="pi pi-check" label="Save" (click)="save()"></button>
                    </div>
                </p-fluid>
            </div>
        </p-dialog>
